.header {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;

  span {
    background-color: #000;
    color: #fff;
    font-family: 'Rozha One', serif;
    font-size: 36px;
    padding: 2px 13px;
  }

  span:first-of-type {
    margin-bottom: 10px;
    margin-right: 20px;
  }
}